@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.SelectedSport != null)
{
    <div class="row">
        <div class="d-none d-sm-none d-md-block col-md-3">
            <div class="list-group">
                @foreach (var sport in Model.SportMenuItems)
                {
                    <a asp-controller="Home" asp-action="Index" asp-route-id="@sport.Id" class="list-group-item list-group-item-action @(sport.Id == Model.SelectedSport.Id ? "active" : "")">
                        <span>@sport.Title</span>
                    </a>
                }
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col"><h3>@Model.SelectedSport.Title</h3></div>
                <div class="col text-end">
                    <div class="dropdown d-block d-sm-block d-md-none d-lg-none">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Viso sporto šakos
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            @foreach (var sport in Model.SportMenuItems)
                            {
                                <li>
                                    <a asp-controller="Home" asp-action="Index" asp-route-id="@sport.Id" class="dropdown-item @(sport.Id == Model.SelectedSport.Id ? "active" : "")">
                                        <span>@sport.Title</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @foreach (var feed in Model.SelectedSport.Feeds)
                    {
                        /*var portal = Model.SelectedSport.Portals.First(p => p.Id == feed.Portals_Id);
                        <div><img src="@portal.Logo" style="width:150px;"></div>*/
                        <partial name="RssFeed" model="feed" />

                    }
                </div>
            </div>
        </div>
    </div>
}